*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto;
    /* display: none; */
}

input{
    padding: 0;
    margin: 0;
    border: none; 
    border-width: 0; 
    box-shadow: none;
    background-color: transparent;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

:root{
    --accent-color: #1500ff;
    --dark-color:#404149 ;
    --gray-color: #999999 ;
    --white-color: #ffffff ;
    --background-color: #e5e5e5;
}


.hide{
    display: none;
}


.Search-cities{
    margin: 0 auto;
    max-width: 500px;
    max-height: 20px;
    min-height: 20px;
}

.box-icon-Search-cities{
    display: flex;
    justify-content: center;
    background-color:var(--accent-color);
    min-height: 20px;
    
}

.icon-Search-cities{
    min-width: 500px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.loupe{
     max-width: 10px ;
     max-height: 10px;
}

.weather-parser{
    display: flex;
    justify-content: center;

}

.left-icon{
    border-left: 1px solid black;
    border-bottom:1px solid black ;
    border-right: 0.5px solid black;
    min-height: 301px;
    min-width: 249.5px;
}

.temperature{
    padding-left: 15px;
    min-height: 84px;
    font-family: Roboto;
    font-size: 70px;
}

.icons-weather{
 display: flex;
 justify-content: center;
}

.icon-weather{
    display: flex;
    justify-content: center;
    min-height: 100px;
    margin: 20px;
    margin-bottom: 50px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

.weather-characteristics{
    padding: 31px 0;
    margin: 23px 0;
}

.weather-characteristic{
    padding: 5px 0;
    font-family: Roboto;
}

.display-flex{
   
    display: flex;
    justify-content: space-between;
   
   
}

.weather-characteristic-rain-snow{
    margin: 0 auto;
    border: 1px solid black;
    max-width: 200px;
    margin-bottom: 5px;
}

.weather-characteristics-rain-snow{
    /* min-height: 200px; */
    scroll-snap-type: y mandatory;
    overflow: scroll;
    max-height: 254px;
    min-height: 254px;
}

.name-city_shape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name-city{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    padding: 5px;
}

.add-city-shape{
    padding: 2px 10px;
    border-radius: 5px;
    transform: translateY(2%);
}

.add-city-shape:hover{
    background-color: var(--accent-color);
}

.name-city:first-letter {
    text-transform: uppercase;
}

.menu-weather-parser{
    display: flex;
}

.icon-menu-weather-parser{

    margin: 0 auto;
    font-family: Roboto;
    text-decoration: none;
    color: black;
    padding: 18.5px;
    
    
}

.icon-menu-weather-parser:hover{
    background-color: var(--accent-color);
}

.right-icon{
    border-right: 1px solid black;
    border-bottom:1px solid black ;
    border-left: 0.5px solid black;
    min-height: 301px;
    min-width: 249.5px;
}

.addLocation{
    border-bottom:1px solid black ;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.locations{
   
    padding: 45px 0;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    min-height: 193px;
    max-height: 193px;
}

.location{
    display: flex;
    justify-content: space-between;
}

.nameLocation{
    text-align: center;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-family: Roboto;
}

.nameLocation:first-letter {
    text-transform: uppercase;
}

.location:hover{
    background-color: var(--accent-color);
}